body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #FF0000;
}

.intro, .main {
    text-align: center;
    margin-top: 50px;
}

.hidden {
    display: none;
}

.morse-character {
    font-size: 36px;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    margin: 10px;
    font-size: 18px;
}

.flash-dot {
    width: 20px;
    height: 20px;
    background-color: #FF0000;
    border-radius: 50%;
    margin-top: 20px;
    animation: flash 1s infinite alternate;
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #FF0000;
    color: #000;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #FF6666;
}
