body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    align-items: center;
    height: 100vh;
    background-color: #000;
    margin: 0;
    background: url('/static/content/testscreen.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
    caret-color: transparent;
}

.table-container {
    width: 70%;
    position: absolute;
    top: 100px; /* 100px from the top of the screen */
}
table {
    background-color: black;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ff4444;
    color: #ff4444;
    padding: 8px;
    text-align: center;
}

th {
    background-color: black;
}

tr:nth-child(even) {
    background-color: rgb(36, 3, 3); /* Darker background for even rows */
}
/* Media query for small screens */
@media screen and (max-width: 600px) {
    .table-container {
        overflow-x: auto;
        width:100%
    }
    table {
        font-size: 11px; /* Reduce font size for small screens */
    }
    .footer{
        font-size: 11px;
    }
}


.gold {
    color: gold;
}

.silver {
    color: silver;
}

.bronze {
    color: #cd7f32; /* Bronze color */
}

.logo {
    position: fixed;  /* Makes the logo fixed in the viewport */
    top: 0;           /* Positions the logo at the top */
    left: 0;          /* Positions the logo at the left */
    width: 10%;     /* Adjust the width as needed */
       /* Adjust the height as needed */
    z-index: 1;
  }
  
  /* Optional styling for the logo */
  .logo img {
    width: 10%;      /* Make sure the image takes the full width of the logo container */
         /* Make sure the image takes the full height of the logo container */
    object-fit: cover; /* Adjusts the image size to cover the container */
  }

  .footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 14px;
    z-index: 1; /* Ensure the footer is above other elements */
}


.footer a {
    color: white;
    text-decoration: none;
}
