body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    margin: 0;
    background: url('/static/content/graveyard.jpg') no-repeat center center fixed;
    z-index: -1;
    
}

#countdown {
    position: absolute;
    left: 50%;
    top: 50%;
    display: inline-block;
    transform: translate(-50%, -50%);
    transition: 1s;
    font-size: 0vw;
    opacity: 80%;
    color: #ff4444; 
  }

#flashlight {
    position:absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0,0); /* Flashlight color */
    border-radius: 50%;
    opacity: 0.8; /* Adjust the opacity to control the intensity */
    top: 50%;
    right: 50%;
    /*transform: translate(300%, 300%);*/
}
#container {
    text-align: center;
    visibility: visible;
    opacity: 1;
    position: absolute; /* Added position: absolute; */
    transition: opacity 0.5s ease;
}
#container2 {
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.game-box {
    background-color: #111;
    color: #ff4444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 24px;
    margin: 0 0 20px;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-container img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

input,select {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    outline: none;
}

.start-button {
    background-color: #ff4444;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: #ff3333;
}


#flashlightCircle {
    --Xpos: 50vw;
    --Ypos: 50vh;
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  #flashlightCircle:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top:0%;
    left: 0%;
    position:absolute;
    pointer-events: none;
    background: radial-gradient(
      circle 15em at var(--Xpos) var(--Ypos),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1)
    );
  }
  

/* Add this CSS to your existing styles */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-right: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #ff4444;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#modeText {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #ff4444;
    font-weight: bold;
}

/* Style the text when the slider is checked or unchecked */
input:checked + .slider + #modeText {
    color: #33cc33;
}

/* Style the text when the slider is checked or unchecked */
input:checked + .slider:before + #modeText {
    content: "Competition";
}

/* Style the text when the slider is checked or unchecked */
input:not(:checked) + .slider:before + #modeText {
    content: "Practice";
}