body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('/static/content/graveyard.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
    
}

#countdown {
    position: absolute;
    left: 50%;
    top: 50%;
    display: inline-block;
    transform: translate(-50%, -50%);
    transition: 1s;
    font-size: 0vw;
    opacity: 80%;
    color: #ff4444; 
  }


#flashlight {
    visibility: hidden;
    position:absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0,0); /* Flashlight color */
    border-radius: 50%;
    opacity: 0.8; /* Adjust the opacity to control the intensity */
    top: 50%;
    right: 50%;
    /*transition: opacity 0.5s ease;*/
    /*transform: translate(300%, 300%);*/
}

.container {
    text-align: center;
    visibility: visible;
    opacity: 1;
    position: absolute; /* Added position: absolute; */
    transition: opacity 1s ease;
}

.containerHidden {
    text-align: center;
    visibility: hidden;
    pointer-events: none; 
    opacity: 0;
    position: absolute; /* Added position: absolute; */
    transition: visibility 1s, opacity 1s ease;
}


.game-box {
    background-color: #111;
    color: #ff4444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 24px;
    margin: 0 0 20px;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-container img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

input,select {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    outline: none;
}

.start-button {
    background-color: #ff4444;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}
.game-button {
    background-color: #ff4444;
    color: #fff;
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; /* Add margin-bottom to create space at the bottom */
}

.game-button:hover {
    background-color: #10362B;
}

.start-button:hover {
    background-color: #10362B;
}


#flashlightCircle {
    visibility: hidden;
    --Xpos: 50vw;
    --Ypos: 50vh;
    opacity: 0;
    z-index: 2;
    transition: visibility 1s, opacity 0.5s ease;
    
}

#flashlightCircle:before {
    z-index: 2;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
    pointer-events: none;
    background: radial-gradient(
        circle 15em at var(--Xpos) var(--Ypos),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1)
    );
}

/* Add animation to gradually increase opacity */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


  

/* Add this CSS to your existing styles */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-right: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #ff4444;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#modeText {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #ff4444;
    font-weight: bold;
}

/* Style the text when the slider is checked or unchecked */
input:checked + .slider + #modeText {
    color: #33cc33;
}

/* Style the text when the slider is checked or unchecked */
input:checked + .slider:before + #modeText {
    content: "Competition";
}

/* Style the text when the slider is checked or unchecked */
input:not(:checked) + .slider:before + #modeText {
    content: "Practice";
}


.logo {
    position: fixed;  /* Makes the logo fixed in the viewport */
    top: 0;           /* Positions the logo at the top */
    left: 0;          /* Positions the logo at the left */
    width: 10%;     /* Adjust the width as needed */
    opacity: 0.7;
    z-index: 1;
  }
  
  /* Optional styling for the logo */
  .logo img {
    width: 10%;      /* Make sure the image takes the full width of the logo container */
         /* Make sure the image takes the full height of the logo container */
    object-fit: cover; /* Adjusts the image size to cover the container */
    
  }

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 14px;
    z-index: 1; /* Ensure the footer is above other elements */
}


.footer a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    table {
        font-size: 11px; /* Reduce font size for small screens */
    }
    .footer{
        font-size: 11px;
    }
}

.popup-container {
    position: fixed;
    align-items: center;
    top: 20px;
    right: 20px;
    background-color: black;
    padding: 10px;
    border: 1px solid red;
    z-index: 9999;
}


.resume-button {
    background-color: #ff4444;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 11px;
    transition: background-color 0.3s ease;
    display: inline-block; /* Added property */
    width:auto;
    justify-content: center;
    margin: 10px;
}

.resume-button:hover {
    background-color: #10362B;
}
