<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morse challenge - Learn</title>
    <link rel="stylesheet" href="/static/css/loader.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/styleGame.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#ff4444">
    <meta name="apple-mobile-web-app-title" content="Morse Challenge">
    <meta name="application-name" content="Morse Challenge">
    <meta name="msapplication-TileColor" content="#ff4444">
    <meta name="theme-color" content="#ff4444">
    <img src="/static/content/logoNoBackground.png" alt="Logo" class="logo">
    </head>
    <!--<style>
    .center-dot {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        z-index: 9999;
    }
    </style>
    <div class="center-dot"></div>-->
    <body>
        <div id="loaderShell">
        <div id="loader">
            <div class="ls-particles ls-part-1"></div>
            <div class="ls-particles ls-part-2"></div>
            <div class="ls-particles ls-part-3"></div>
            <div class="ls-particles ls-part-4"></div>
            <div class="ls-particles ls-part-5"></div>
            <div class="lightsaber ls-left ls-green"></div>
            <div class="lightsaber ls-right ls-red"></div>
          </div>
        </div>
    <div class="scrolling-wrapper" id="swrapper">
        <div class="cardDEAD"><h2>Card x</h2></div>
        <div class="cardDEAD"><h2>Card x</h2></div>
        <div class="cardDEAD"><h2>Card x</h2></div>
        <div class="card" data-level="1" id="lvl1">  
            <br><br>
            <h2>GROUP 1</h2>
            <p>E &centerdot;  &nbsp; I &centerdot; &centerdot;<br>S &centerdot; &centerdot; &centerdot; &nbsp; H &centerdot; &centerdot; &centerdot; &centerdot;</p>
            <br>
            <p>Points: <span id="L1">0</span>/20 &nbsp;<i class="fa fa-times"></i></p>
            <p>Time: <span id="L1T">0,00</span>s &nbsp;<i class="fa fa-times"></i></p>
            <button class="game-button" onclick="startGame('0',1,0)" ontouchstart="startGame('0',0,0)">START</button>
        </div>
        <div class="card disabledCard" data-level="2" id="lvl2">  
            <br><br>
            <h2>GROUP 2</h2>
            <p>T &ndash; &nbsp; M 	&ndash;	&ndash;<br>O 	&ndash;	&ndash;	&ndash;</p>
            <br>
            <p>Points: <span id="L2">0</span>/20 &nbsp;<i class="fa fa-times"></i></p>
            <p>Time: <span id="L2T">0,00</span>s &nbsp;<i class="fa fa-times"></i></p>
            <button class="game-button">START</button>
        </div>
        <div class="card disabledCard" data-level="3" id="lvl3">  
            <br><br>
            <h2>GROUP 3</h2>
            <p>A &centerdot; &ndash; &nbsp; U 	&centerdot; &centerdot; &ndash;<br>V 	&centerdot; &centerdot; &centerdot; &ndash;</p>
            <br>
            <p>Points: <span id="L3">0</span>/20 &nbsp;<i class="fa fa-times"></i></p>
            <p>Time: <span id="L3T">0,00</span>s &nbsp;<i class="fa fa-times"></i></p>
            <button class="game-button">START</button>
        </div>
        <div class="card disabledCard" data-level="4" id="lvl4">  
            <br><br>
            <h2>GROUP 4</h2>
            <p>N &ndash; &centerdot; &nbsp; D 	&ndash; &centerdot; &centerdot; <br>B 	&ndash; &centerdot; &centerdot; &centerdot; </p>
            <br>
            <p>Points: <span id="L4">0</span>/20 &nbsp;<i class="fa fa-times"></i></p>
            <p>Time: <span id="L4T">0,00</span>s &nbsp;<i class="fa fa-times"></i></p>
            <button class="game-button">START</button>
        </div>
        <div class="card disabledCard" data-level="5" id="lvl5">  
            <br><br>
            <h2>GROUP 5</h2>
            <p>P  &centerdot; &ndash; &ndash; &centerdot;<br>R &centerdot; &ndash; &centerdot;</p>
            <br>
            <p>Points: <span id="L5">0</span>/20 &nbsp;<i class="fa fa-times"></i></p>
            <p>Time: <span id="L5T">0,00</span>s &nbsp;<i class="fa fa-times"></i></p>
            <button class="game-button">START</button>
        </div>
        <div class="card disabledCard" data-level="6" id="lvl6">  
            <br><br>
            <h2>GROUP 6</h2>
            <p>X &ndash; &centerdot; &centerdot; &ndash; <br>K &ndash; &centerdot; &ndash;</p>
            <br>
            <p>Points: <span id="L6">0</span>/20 &nbsp;<i class="fa fa-times"></i></p>
            <p>Time: <span id="L6T">0,00</span>s &nbsp;<i class="fa fa-times"></i></p>
            <button class="game-button">START</button>
        </div>
        <div class="card disabledCard" data-level="7" id="lvl7">  
            <br><br>
            <h2>GROUP 7</h2>
            <p>G &ndash; &ndash; &centerdot;<br>W &centerdot; &ndash; &ndash;</p>
            <br>
            <p>Points: <span id="L7">0</span>/20 &nbsp;<i class="fa fa-times"></i></p>
            <p>Time: <span id="L7T">0,00</span>s &nbsp;<i class="fa fa-times"></i></p>
            <button class="game-button">START</button>
        </div>
        <div class="card disabledCard" data-level="8" id="lvl8">  
            <br><br>
            <h2>GROUP 8</h2>
            <p>L &centerdot; &ndash; &centerdot; &centerdot;<br>F &centerdot; &centerdot; &ndash; &centerdot;</p>
            <br>
            <p>Points: <span id="L8">0</span>/20 &nbsp;<i class="fa fa-times"></i></p>
            <p>Time: <span id="L8T">0,00</span>s &nbsp;<i class="fa fa-times"></i></p>
            <button class="game-button">START</button>
        </div>
        <div class="card disabledCard" data-level="9" id="lvl9">  
            <br><br>
            <h2>GROUP 9</h2>
            <p>Y &ndash; &centerdot; &ndash; &ndash;<br>Q &ndash; &ndash; &centerdot; &ndash;</p>
            <br>
            <p>Points: <span id="L9">0</span>/20 &nbsp;<i class="fa fa-times"></i></p>
            <p>Time: <span id="L9T">0,00</span>s &nbsp;<i class="fa fa-times"></i></p>
            <button class="game-button">START</button>
        </div>
        <div class="card disabledCard" data-level="10" id="lvl10">  
            <br><br>
            <h2>REMAINING</h2>
            <p>C &ndash; &centerdot; &ndash; &centerdot; &nbsp; J &centerdot; &ndash; &ndash; &ndash; <br> Z &ndash; &ndash; &centerdot; &centerdot;</p>
            <br>
            <p>Points: <span id="L10">0</span>/20 &nbsp;<i class="fa fa-times"></i></p>
            <p>Time: <span id="L10T">0,00</span>s &nbsp;<i class="fa fa-times"></i></p>
            <button class="game-button">START</button>
        </div>
        <div class="card disabledCard" data-level="11" id="lvl11">  
            <br><br>
            <h2>NUMBERS 1</h2>
            <p>From:&nbsp;1 &centerdot; &ndash; &ndash; &ndash; &ndash;
            <br>To:&nbsp;5 &centerdot; &centerdot; &centerdot; &centerdot; &centerdot;</p>
            <br>
            <p>Points: <span id="L11">0</span>/20 &nbsp;<i class="fa fa-times"></i></p>
            <p>Time: <span id="L11T">0,00</span>s &nbsp;<i class="fa fa-times"></i></p>
            <button class="game-button">START</button>
        </div>
        <div class="card disabledCard" data-level="12" id="lvl12">  
            <br><br>
            <h2>NUMBERS 2</h2>
            <p>From:&nbsp;6 &ndash; &centerdot; &centerdot; &centerdot; &centerdot;
            <br>To:&nbsp;0 &ndash; &ndash; &ndash; &ndash; &ndash;</p>
            <br>
            <p>Points: <span id="L12">0</span>/20 &nbsp;<i class="fa fa-times"></i></p>
            <p>Time: <span id="L1T2">0,00</span>s &nbsp;<i class="fa fa-times"></i></p>
            <button class="game-button">START</button>
        </div>
        <div class="card disabledCard" data-level="13" id="lvl13">  
            <br><br>
            <h2>MIX</h2>
            <p>Speed level<br>SLOW</p>
            <br>
            <p>Points: <span id="L13">0</span>/20 &nbsp;<i class="fa fa-times"></i></p>
            <p>Time: <span id="L13T">0,00</span>s &nbsp;<i class="fa fa-times"></i></p>
            <button class="game-button">START</button>
        </div>
        <div class="card disabledCard" data-level="14" id="lvl14">  
            <br><br>
            <h2>MIX</h2>
            <p>Speed level<br>MID</p>
            <br>
            <p>Points: <span id="L14">0</span>/20 &nbsp;<i class="fa fa-times"></i></p>
            <p>Time: <span id="L14T">0,00</span>s &nbsp;<i class="fa fa-times"></i></p>
            <button class="game-button">START</button>
        </div>
        <div class="card disabledCard" data-level="15" id="lvl15">  
            <br><br>
            <h2>MIX</h2>
            <p>Speed level<br>FAST</p>
            <br>
            <p>Points: <span id="L15">0</span>/20 &nbsp;<i class="fa fa-times"></i></p>
            <p>Time: <span id="L15T">0,00</span>s &nbsp;<i class="fa fa-times"></i></p>
            <button class="game-button">START</button>
        </div>
        <div class="cardDEAD"><h2>Card x</h2></div>
        <div class="cardDEAD"><h2>Card x</h2></div>
        <div class="cardDEAD"><h2>Card x</h2></div>
    </div>

    <button onclick="scrollToLeft()"  class="buttonLeft" id="scrollLeftButton"><i class="fa fa-arrow-left"></i></button>
    <button onclick="scrollToRight()"  class="buttonRight" id="scrollRightButton"><i class="fa fa-arrow-right"></i></button>

    <script>
        
        const scrollingWrapper = document.querySelector('.scrolling-wrapper');
        const cards = document.querySelectorAll('.card');

        function scrollToLeft() {
            const cardIndex = getCardIndexInMiddle();
            if (cardIndex !== 0) {
                const card = cards[cardIndex - 1];
                card.scrollIntoView({ behavior: 'smooth', inline: 'center' ,block: 'center'});
            }
        }

        function scrollToRight() {
            const cardIndex = getCardIndexInMiddle();
            if (cardIndex !== cards.length - 1) {
                const card = cards[cardIndex + 1];
                card.scrollIntoView({ behavior: 'smooth', inline: 'center' ,block: 'center'});
            }
        }
        
        function scrollToCard(cardNumber) {
            const cardIndex = parseInt(cardNumber)-1;

            if (cardIndex >= 0 && cardIndex < cards.length) {
                const card = cards[cardIndex];
                card.scrollIntoView({ behavior: 'smooth', inline: 'center' ,block: 'center'});
            }
        }
        function getCardIndexInMiddle() {
            const scrollingWrapperRect = scrollingWrapper.getBoundingClientRect();
            const middleX = scrollingWrapperRect.left + scrollingWrapperRect.width / 2;
            
            let cardIndex = -1;
            cards.forEach((card, index) => {
                const cardRect = card.getBoundingClientRect();
                if (cardRect.left <= middleX && cardRect.right >= middleX) {
                    cardIndex = index;
                }
            });
            
            return cardIndex;
        }
        
        // Disable scrolling buttons when last card is in the middle
        function updateScrollButtons() {
            const cardIndex = getCardIndexInMiddle();
            const scrollLeftButton = document.getElementById('scrollLeftButton');
            const scrollRightButton = document.getElementById('scrollRightButton');
            
            if (cardIndex === 0) {
                scrollLeftButton.disabled = true;
            } else {
                scrollLeftButton.disabled = false;
            }
            
            if (cardIndex === cards.length - 1) {
                scrollRightButton.disabled = true;
            } else {
                scrollRightButton.disabled = false;
            }
        }
        
        updateScrollButtons();

        window.addEventListener('load', function() {
            const card = cards[0];
            console.log(card.offsetLeft, scrollingWrapper.offsetWidth, card.offsetWidth)
            card.scrollIntoView({ behavior: 'smooth', inline: 'center' ,block: 'center'});
        });
        setTimeout(function() {
            const loaderShell = document.getElementById('loaderShell');
            loaderShell.style.opacity = '0';
            loaderShell.style.visibility = 'hidden';
        }, 2000);
        scrollingWrapper.addEventListener('scroll', updateScrollButtons);
        
    </script>
    <div id="container2" class="containerHidden">
        <div class="game-box">
            <i class="fa fa-home" style="position: absolute; top: 10px; left: 10px; cursor: pointer; color:white" onclick="location.reload();"></i>
            <h1>Score</h1>
                <p>Correct answers: <span id="score"></span></p>
                <p>Time: <span id="time"></span>s</p>
                <span id="difference">

                </span>
                
            <button class="start-button" id="restart" disabled onclick="window.location.reload();">RESTART</button>&nbsp;<button class="start-button" id="scores" disabled onclick='location.href="/scores"'>SCORES</button>
        </div>
    </div>
    <footer class="footer">
        Developed by <a href="https://valentincic.eu" target="_blank">Tjaž</a>
    </footer>
    <div id="flashlight"></div>
    <script src="/static/js/practice.js"></script>
    </body>
    </html>
