<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morse challenge</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#ff4444">
    <meta name="apple-mobile-web-app-title" content="Morse Challenge">
    <meta name="application-name" content="Morse Challenge">
    <meta name="msapplication-TileColor" content="#ff4444">
    <meta name="theme-color" content="#ff4444">
    <img src="/static/content/logoNoBackground.png" alt="Logo" class="logo">
</head>



<body>
    <div class="container">

    </div>
    <input type="text" id="hiddenInput" style="position: absolute; top: -1000px; left: -1000px;">

    <div id="container" class="container">
        <div class="game-box"> 
            <h1>Morse challenge</h1>
            
            <button class="game-button" onclick="window.location.href = '/'">Play</button><br>
            <button class="game-button" onclick="window.location.href = '/scores'">Scores</button><br>
            <button class="game-button" id="start">Create room</button><br>
            <button class="game-button" id="start">Enter room</button><br>
            <button class="game-button" id="start">How to play</button>
        </div>
       
    </div>
    

   <!-- <div id="flashlight"></div>
    <div id="flashlightCircle"></div> 
    <script src="/static/js/script.js">
        ---> 
    
    </script>
    <footer class="footer">
        Developed by <a href="https://valentincic.eu" target="_blank">Tjaž</a>
    </footer>
</body>
</html>
