<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morse challenge</title>
    <!-- <a href="https://www.flaticon.com/free-icons/home" title="home icons">Home icons created by Dave Gandy - Flaticon</a> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="description" content="Morse Challenge - Fun and interactive game for learning morse code. Supports private rooms and individual competitions.">


    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#ff4444">
    <meta name="apple-mobile-web-app-title" content="Morse Challenge">
    <meta name="application-name" content="Morse Challenge">
    <meta name="msapplication-TileColor" content="#ff4444">
    <meta name="theme-color" content="#ff4444">

    <img src="/static/content/logoNoBackground.png" alt="Logo" class="logo">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    

    
</head>
<body>
    <input type="text" id="hiddenInput" style="position: absolute; top: -1000px; left: -1000px;">
    
    <div id="container3" class="container">
        <div class="game-box"> 
            <h1>Main menu</h1>
            <button class="game-button" onclick="changeToPlayWindow()">Play</button><br>
            <button class="game-button" onclick="window.location.href = '/game';">Learn morse</button><br>
            <button class="game-button" onclick="redirectScores()">Scores</button><br>
            <button class="game-button" onclick="changeToCreateWindow()">Create room</button><br>
            <button class="game-button" onclick="changeToEnterWindow()">Enter room</button><br>
            <button class="game-button" id="HTP" onclick="LeaveRoom()">Leave Room</button>
        </div>
    </div>

    
    <div id="container4" class="containerHidden">
        <div class="game-box"> 
            <img src="/static/content/home.png" style="position: absolute; top: 10px; left: 10px; cursor: pointer; filter:invert(1);height:15px" onclick="changeFromCreateToMain()">
            
            <h1>Create room</h1>
            <div class="input-container">
                <input type="text" id="roomName" placeholder="Enter room name">
            </div>
            <button id="createRoomButton" class="game-button" onclick="createRoom()">Create room</button><br>
            <a id="roomLink"></a>
        </div>
    </div>
    <div id="container6" class="containerHidden">
        <div class="game-box"> 
            <img src="/static/content/home.png" style="position: absolute; top: 10px; left: 10px; cursor: pointer; filter:invert(1);height:15px" onclick="changeFromCreateEndToMain()">
            <h1>Share room with friends!</h1>
            <p>Room ID: <span id="roomIDSpan"></span></p>
            <span id="roomLinkSpan"></span><br>
            <img id="roomQR" style="margin-top:5px"></img>
                   
        </div>
    </div>
    <div id="container5" class="containerHidden">
        <div class="game-box"> 
            <img src="/static/content/home.png" style="position: absolute; top: 10px; left: 10px; cursor: pointer; filter:invert(1);height:15px" onclick="changeFromEnterToMain()">
            <h1>Enter room</h1>
            <div class="input-container">
                <input type="text" id="roomID" placeholder="Enter room ID">
            </div>
            <button id="enterRoomButton" class="game-button" onclick="joinRoom()">Enter room</button><br>
            <span id="roomEnterMessage"></span>
        </div>
    </div>
    
    <div id="container" class="containerHidden" >
        <div class="game-box">
            <img src="/static/content/home.png" style="position: absolute; top: 10px; left: 10px; cursor: pointer; filter:invert(1);height:15px" onclick="changeFromGameToMain()">
            <h1>Game</h1>
            <div class="input-container">
                <input type="text" id="ID" placeholder="Enter ID or name">
            
            </div>
            <div class="input-container">
                
                <select id="level">
                    <option value="0">Easy</option>
                    <option value="1">Hard</option>
                    <option value="2">Champion</option>
                  </select>
            </div>
            <div class="input-container">
                
                <label class="switch">
                    <input type="checkbox" id="competitionMode" onchange="toggle()">
                    <span class="slider"></span>
                </label>
                <span id="modeText">Competition</span>
            </div>
            <div class="input-container" id="chars">
                <input type="number" id="st" placeholder="Num. of characters">
            </div>
            <button class="start-button" id="start" onclick="startButtonGame()">Start Game</button>
        </div>
    </div>
    <div id="container2" class="containerHidden">
        <div class="game-box">
            <img src="/static/content/home.png" style="position: absolute; top: 10px; left: 10px; cursor: pointer; filter:invert(1);height:15px" onclick="location.reload();">
            <h1>Score</h1>
                <p>Correct answers: <span id="score"></span></p>
                <p>Time: <span id="time"></span>s</p>
                <span id="difference">

                </span>
                
            <button class="start-button" id="restart" disabled onclick="window.location.reload();">RESTART</button>&nbsp;<button class="start-button" id="scores" disabled onclick='redirectScores()'>SCORES</button>
        </div>
    </div>


<div id="resumePopup" class="popup-container game-box containerHidden">
    <p style="margin-top:0px;margin-bottom:5px;font-size:11px;"><b>Do you want to resume the last game?</b></p>
    <button class="resume-button" onclick="resumeGame()">Resume</button>
    <button class="resume-button" onclick="dismissPopup()">Dismiss</button>
</div>

<div id="roomMode" class="game-box containerHidden">
    <p style="margin-top:2px;margin-bottom:2px;font-size:11px;"><b>Playing in room: <span id="roomNumber"></span></b></p>
</div>

<!-- Rest of the code -->
    <h1 id="supportText"></h1>
    <div id="flashlight"></div>
    <div id="flashlightCircle"></div>
    <div style="width: 25px;text-align: left;position: absolute;top:1px; right: 10px; cursor: pointer; color:white; font-size:32px;" id="mute">
        
        <img src="/static/content/information.png" style="filter:invert(1); height:25px">
        <img id="mute_image" src="/static/content/speaker-loud.png" style="filter:invert(1); height:25px" onclick="audioOnOff()">
        
    </div>
    <footer class="footer">
        Developed by <a href="https://valentincic.eu" target="_blank">Tjaž</a>
    </footer>
    <script src="/static/js/script.js">
        
    </script>
    <script src="/static/js/rando.js"></script>
</body>
</html>
