<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="stylesheet" href="/static/css/styleScores.css">


    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#ff4444">
    <meta name="apple-mobile-web-app-title" content="Morse Challenge">
    <meta name="application-name" content="Morse Challenge">
    <meta name="msapplication-TileColor" content="#ff4444">
    <meta name="theme-color" content="#ff4444">

    <title>Scores - Morse Challenge</title>
</head>
<body>
    <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Place</th>
                                <th>ID/Name</th>
                                <th>Mode</th>
                                <th>Score</th>
                                <th>Total</th>
                                <th>%</th>
                                <th>Total Time</th>
                                <th>Time stamp</th>
                            </tr>
                        </thead>
                        <tbody id="tableContent">
                        </tbody>
                    </table>
                    <input type="number" style="opacity:0;width:100%" disabled="">
                    <input type="number" style="opacity:0;width:100%" disabled="">
                </div>
                <script src="/static/js/scriptScores.js"></script>
</body>
</html>
